[Desktop Entry]
Version=0.1
Name=sxSnapShot
GenericName=SX Camera Snap Shots
Comment=Simple image sequencerfor Starlight Xpress cameras
Type=Application
Exec=sxsnap
Icon=sxsnap
MimeType=
Categories=Education;Science;Astronomy;
Keywords=FITS;Astronomy;Imaging;
